.gridCartEmpty{
    display: grid;
    grid-template-areas: 
    "cartempty"
    "emptyCart"
    "buttonAddEmpty";
    grid-template-columns: 1fr;
    row-gap: 20px;
    padding: 120px 0px 128px 70px;
    background-color: #fff5fa;
}
.cartempty{
    grid-area: cartempty;
    font-size: 30px;
}
.emptyCart{
    grid-area: emptyCart;
}
.buttonAddEmpty{
    grid-area: buttonAddEmpty;
}
.emptyCart p{
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.mainCartProducts{
    display: grid;
    grid-template-areas: 
    "productsCartCart"
    "dataCartProducts";
    row-gap: 30px;
    padding: 25px 0px 40px 0px;
}
.gridNameImgCart{
    width: 200px;
}
.productsCartCart{
    grid-area: productsCartCart;
    padding-left: 10px;
    width: 200px;
}
.productsCartCart p{
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    text-underline-offset: 0.2em;
    border-bottom: 1px solid rgb(202, 202, 202);
}
.dataCartProducts{
    grid-area: dataCartProducts;
}
.gridNameImgCart{
    display: grid;
    grid-template-areas: 
    "imageProductCart gridName";
    grid-template-columns: 130px 100px;
    column-gap: 10px;
}
.imageProductCart{
    grid-area: imageProductCart;
}
.gridName{
    grid-area: gridName;
    padding: 8px 0px 0px 5px;
}

.quantityCart{
    display: grid;
    grid-template-areas: 
    "gridCart flexCart";
}
.gridCart{
    grid-area: gridCart;
    padding-top: 70px;
}
.flexCart{
    grid-area: flexCart;
    padding-top: 70px;
}
.gridCart{
    display: grid;
    grid-template-areas: 
    "addCart numberCart discountCart";
    grid-template-columns: 1fr 1fr 1fr;
}
.addCart{
    grid-area: addCart;
}
.numberCart{
    grid-area: numberCart;
}
.discountCart{
    grid-area: discountCart;
}
.flexCart{
    display: grid;
    grid-template-areas: 
    "priceCart cleanCart";
}
.imageProductCart img{
    width: 130px;
    height: 160px;
    filter: drop-shadow(1px 1px 4px rgb(203, 198, 198));
}
.MainGridCart{
    display: grid;
    grid-template-areas: 
    "FirstGridCart"
    "SecondGridCart";
    row-gap: 40px;
}
.FirstGridCart{
    grid-area: FirstGridCart;
}
.SecondGridCart{
    grid-area: SecondGridCart;
}
.generalMainCart{
    display: grid;
    grid-template-areas: 
    "gridNameImgCart quantityCart";
    padding-left: 10px;
}
.gridNameImgCart{
    grid-area: gridNameImgCart;
}
.quantityCart{
    grid-area: quantityCart;
}
.SecondGridCart{
    display: grid;
    grid-template-areas: 
    "totalSecondGrid priceSecondGrid gridAddSecondGrid";
    padding-left: 30px;
    grid-template-columns: 200px 300px 1fr;
}
.totalSecondGrid{
    grid-area: totalSecondGrid;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.priceSecondGrid{
    grid-area: priceSecondGrid;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.gridAddSecondGrid{
    grid-area: gridAddSecondGrid;
    display: flex;
    justify-content: center;
    padding-left: 50px;
}
.gridAdd{
    display: grid;
    grid-template-areas: 
    "checkoutCart deleteCart"
    "buttonAdd deleteCart";
    column-gap: 10px;
}
.checkoutCart{
    grid-area: checkoutCart;
    display: flex;
    justify-content: center;
}
.buttonAdd{
    grid-area: buttonAdd;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.deleteCart{
    grid-area: deleteCart;
    padding-left: 2px;
    padding-top: 30px;
}
.totalSecondGrid p{
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
}
.priceSecondGrid{
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
}
.cleanCart svg{
    cursor: pointer;
}
@media screen and (max-width: 870px) {
    .SecondGridCart{
        display: grid;
        grid-template-areas: 
        "totalSecondGrid priceSecondGrid"
        "gridAddSecondGrid gridAddSecondGrid";
        grid-template-columns: 1fr 1fr;
    }
    .totalSecondGrid{
        display: flex;
        justify-content: end;
        padding-right: 50px;
    }
    .priceSecondGrid{
        display: flex;
        justify-content: start;
        
    }
    .gridAdd{
        display: flex;
        justify-content: center;
    }
    .checkoutCart{
        padding-top: 10px;
    }
}
@media screen and (max-width: 600px) {
    .quantityCart{
        display: grid;
        grid-template-areas: 
        "gridCart"
        "flexCart";
    }
    .flexCart{
        padding-top: 0px;
    }
    .gridCart{
        padding-top: 0px;
    }
    .addCart{
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    .numberCart{
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    .discountCart{
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    .priceCart{
        display: flex;
        justify-content: center;
    }
    .gridAdd{
        display: grid;
        grid-template-areas: 
        "checkoutCart"
        "buttonAdd"
        "deleteCart";
        padding-right: 75px;
    }
    .deleteCart{
        display: flex;
        justify-content: center;
    }
}