.detailcontainer{
    display: grid;
    grid-template-areas: 
    "detailimage detailname"
    "detailimage detailprice"
    "detailimage details"
    "detailimage amountcontainer";
    padding: 30px 0px;
    justify-content: center;
    column-gap: 100px;
    background-color: #fff5fa;
    font-family: teimer-web;
}

.detailimage{
    grid-area: detailimage;
}

.detailimage img{
    width: 350px;
    height: 450px;
    filter: drop-shadow(1px 1px 4px rgb(203, 198, 198));
}

.detailname{
    grid-area: detailname;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font: teimer-web;
    font-weight: 400;
    margin-top: 30px;
}

.detailprice{
    grid-area: detailprice;
    display: flex;
    justify-content: center;
}

.detailsprice{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.details{
    grid-area: details;
    display: flex;
    text-align: center;
}
.detaildetails{
    width: 380px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}

.amountcontainer{
    grid-area: amountcontainer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detailsamount{
    margin: 5px;
}

.amount{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    padding: 20px 0px;
}

.adder{
    background-color: #fff5fa;
    width: 40px;
    height: 10px;
    padding: 25px;
    border: 1px solid grey;
}

.adddetails{
    grid-area: adddetails;
    display: flex;
    justify-content: center;
}

.add{
    display: flex;
    justify-content: center;
    background-color: #fff5fa;
    width: 200px;
    height: 30px;
    border: 2px solid #000;
}

.add:hover{
    background-color: #000;
    color: #fff;
}
.sweet-loading{
    display: flex;
    justify-content: center;
    padding-top: 150px;
    padding-right: 50px;
}
.sweet-loading{
    display: flex;
    justify-content: center;
    padding-left: 20px;
}
@media screen and (max-width: 900px) {
    .detailcontainer {
        display: grid;
        grid-template-areas:
            "detailimage" 
            "detailname"
            "detailprice"
            "details"
            "amountcontainer";
        padding: 40px 0px;
        justify-content: center;
        column-gap: 0px;
        row-gap: 20px;
        background-color: #fff5fa;
        font-family: teimer-web;
    }
    .centerDetail{
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 446px) {
    .detailimage{
        display: flex;
        justify-content: center;
    }
    .detailimage img{
        width: 290px;
        height: 370px;
    }
}
