.flexmain{
    display: flex;
    justify-content: center;
}

.picturemain{
    width: 1200px;
    height: 650px;
    padding: 25px 25px;
}

.picturemain img{
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

.absolutemain{
    position: relative;
}

.spacenew{
    position: absolute;
    width: 200px;
    padding: 5px;
    font-family: liberation-sans; 
    font-size: 18px;
    font-weight: 400;
    right: 870px;
    bottom: 170px;
}

.spacenew_{
    position: absolute;
    padding: 10px;
    font-size: 30px;
    font-weight: 100;
    width: 500px;
    bottom: 100px;
    right: 570px;
}

.spacenew_ b{
    position: absolute;
    font-size: 30px;
    left: 150px;
    bottom: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 200px;
}

.spacenew_ a{
    color: #000;
    text-decoration: none;
}

.spacenew_ a:hover{
    color: rgb(63, 60, 60);
    border-bottom: 1px solid #000;
}

.back_{
    background-color: #f4e9ef;
}

.imagemain{
    display: flex;
    padding: 20px 0px 200px 30px;
    image-rendering: pixelated;
}
.imagemain img{
    width: 380px;
    height: 500px;
}
.gridmain{
    display: grid;
    grid-template-areas: 
    "textmain"
    "buttonmain";
    grid-template-columns: 650px;
    justify-content: center;
}
.mainbutton{
    display: flex;
    justify-content: center;
    padding: 20px 0px 35px 0px;
}
.buttonmain{
    grid-area: buttonmain;
    background-color: #f4e9ef;
    padding: 8px 35px;
    font-family: grange-extended;
    font-size: 18px;
    font-weight: 400;
    border: 2px solid #000;
    cursor: pointer;
}
.buttonmain:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.textmain{
    grid-area: textmain;
    display: flex;
    text-align: center;
}
.textmain p{
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: liberation-sans;   
    padding: 40px 5px 25px 5px;
    letter-spacing: 2px;
}
.maingrid{
    display: grid;
    grid-template-areas: 
    "luxurymain cardsMain";
    grid-template-columns: 350px 1fr;
    padding-bottom: 50px;
}
.luxurymain{
    grid-area: luxurymain;
}
.buyringmain{
    grid-area: buyringmain;
}
.cardsMain{
    grid-area: cardsMain;
    display: flex;
    justify-content: end;
    padding-right: 60px;
}
.luxury{
    font-size: 40px ;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: liberation-sans; 
}
.buyring{
    grid-area: buttonmain;
    background-color: #f4e9ef;
    padding: 8px 20px;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: liberation-sans; 
    font-size: 18px;
    font-weight: 400;
    border: 2px solid #000;
    cursor: pointer;
}
.buyring:hover{
    background-color: #000;
    color: #fff;
}
.luxuryMain{
    display: flex;
    justify-content: center;
}
.buyringMain{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-right: 55px;
}
.cardMainOne{
    display: grid;
    grid-template-areas: 
    "imagee"
    "namemain"
    "pricemain";
}
.imagee{
    grid-area: imagee;
    
}
.namemain{
    grid-area: namemain;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: liberation-sans; 
}
.pricemain{
    grid-area: pricemain;
    display: flex;
    justify-content: center;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: liberation-sans; 
}
.cardMainTwo{
    display: grid;
    grid-template-areas: 
    "imagee"
    "namemainTwo"
    "pricemainTwo";
    padding-left: 20px;
}
.imagee{
    grid-area: imagee;
}
.namemainTwo{
    grid-area: namemainTwo;
    display: flex;
    justify-content: center;
}
.pricemainTwo{
    grid-area: pricemainTwo;
    display: flex;
    justify-content: center;
}
.gridSubscribe{
    display: grid;
    grid-template-areas: 
    "bulletinmain subscribe";
    grid-template-columns: 500px 1fr;
}
.gridSubscribe{
    padding: 100px 0px;
}
.bulletinmain{
    grid-area: bulletinmain;
    padding-left: 40px;
    padding-bottom: 80px;
}
.subscribe{
    grid-area: subscribe;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bulletin{
    display: flex;
    padding-bottom: 15px;
    padding-left: 40px;
}
.news{
    font-size: calc((1.7 - 1) * 1.2vw + 1rem);
    display: flex;
    justify-content: start;

    font-family: liberation-sans; 
}
.releases{
    font-size: calc((1 - 1) * 1.2vw + 1rem);
    padding-left: 40px;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
}
.center{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.center_{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-right: 107px;
}
.center input{
    padding: 1rem 2rem;
    line-height: 1.2rem;
    border:1px solid #c0bbbe;
    font-size: 15px;
}
.center_ button{
    padding: 1rem 2rem;
    background-color: #f4e9ef;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: liberation-sans; 
    font-size: 18px;
    font-weight: 400;
    border: 2px solid #000;
    cursor: pointer;
}
.center_ button:hover{
    background-color: #000;
    color: #fff;
}

@media screen and (max-width: 1142px) {
    .absolutemain{
        position: relative;
    }
    .spacenew{
        width: 200px;
        padding: 5px;
        font-family: liberation-sans; 
        font-size: 14px;
        font-weight: 400;
        position: absolute;
        right: 780px;
        bottom: 150px;
    }
    .spacenew_{
        padding: 10px;
        font-size: 30px;
        font-weight: 100;
        width: 500px;
        position: absolute;
        right: 475px;
        bottom: 95px;
    }
    .spacenew_ b{
        font-size: 30px;
        position: absolute;
        left: 150px;
        bottom: 0px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        width: 200px;
    }
}

@media screen and (max-width: 1050px) {
    .cardsMain{
        display: grid;
        grid-template-areas: 
        "cardMainOne"
        "cardMainTwo";
        padding: 0px;
    }
    .cardMainOne{
        grid-area: cardMainOne;
        padding: 15px 0px;
    }
    .cardMainTwo{
        grid-area: cardMainTwo;
        padding: 0px;
    }
    .namemainTwo{
        padding: 7px 0px;
    }
    .maingrid{
        display: grid;
        grid-template-areas: 
        "luxurymain"
        "cardsMain";
        grid-template-columns: 1fr;
    }
    .luxurymain{
        grid-area: luxurymain;
        padding: 15px 0px 15px 30px;
    }
    .cardsMain{
        grid-area: cardsMain;
        justify-content: center;
    }
    .luxury{
        padding: 0px 20px 10px 0px;
    }
    .buyringMain{
        padding: 15px 30px 5px 0px;
    }
    .gridSubscribe{
        display: grid;
        grid-template-areas: 
        "bulletinmain"
        "subscribe";
        grid-template-columns: 1fr;
    }
    .bulletinmain{
        grid-area: bulletinmain;
    }
    .subscribe{
        grid-area: subscribe;
    }
    .bulletin{
        display: flex;
        justify-content: center;
        padding-right: 80px;
    }
    .collections{
        text-align: center;
        padding-right: 70px;
    }
    .center{
        display: flex;
        justify-content: center;
    }
    .center_{
        display: flex;
        justify-content: center;
        padding-left: 105px;
    }
    .imagemain img{
        width: 250px;
        height: 350px;
    }

    .flexmain{
        position: relative;
    }
    .absolutemain{
        left: 75px;
        bottom: -20px;
        position: absolute;
    }
    .spacenew{
        width: 200px;
        padding: 5px;
        font-family: liberation-sans; 
        font-size: 14px;
        font-weight: 400;
        position: absolute;
        left: 5px;
        bottom: 200px;
    }
    .spacenew_{
        padding: 10px;
        font-size: 30px;
        font-weight: 100;
        width: 500px;
        position: absolute;
        left: 0px;
        bottom: 130px;
    }
    .spacenew_ b{
        font-size: 30px;
        position: absolute;
        left: 150px;
        bottom: 0px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        width: 200px;
    }
    
    .textmain p{
        letter-spacing: 1px;
        font-size: calc((1 - 1) * 1.2vh + 1rem);
        display: flex;
        text-align: center;
    }
}
@media screen and (max-width: 660px) {
    .gridmain{
        display: grid;
        grid-template-areas: 
        "textmain"
        "buttonmain";
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .textmain{
        grid-area: textmain;
    }
    .buttonmain{
        grid-area: mainbutton;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }
    .imagemain{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0px 100px 0px;
    }
    .imagemain img{
        width: 200px;
        height: 300px;
    }
    .spacenew_{
        font-size: 17px;
        width: 230px;
        right: 15px;
        left: 0px;
        bottom: 110px;
    }
    .spacenew{
        font-size: 17px;
        left: 5px;
        bottom: 150px;
    }
    .spacenew_ b{
        font-size: 17px;
        width: 140px;
        left: 100px;
    }
    .absolutemain{
        left: 40px;
        bottom: -40px;
        position: absolute;
    }
    .gridSubscribe{
        padding: 50px 0px;
    }
    .bulletinmain{
        grid-area: bulletinmain;
        padding-left: 40px;
        padding-bottom: 40px;
    }
}
