.gridAbout{
    background-color: #fff5fa;
    display: grid;
    grid-template-areas: 
    "nature imageAbout"
    "a imageAbout"
    "friends imageAbout"
    "collectionsAbout imageAbout"
    "b imageAbout";
    grid-template-columns: 1fr 1fr;
    padding-top: 150px;
    padding-bottom: 100px;
}
.nature{
    grid-area: nature;
    display: flex;
    justify-content: center;
}
.nature p {
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
    padding-top: 20px;
}
.imageAbout{
    grid-area: imageAbout;
    display: flex;
    justify-content: center;
    image-rendering: pixelated;
}
.friends{
    grid-area: friends;
    padding-bottom: 30px;
    padding: 0px 100px 20px 90px;
}
.friends p{
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 13px;
}
.collectionsAbout{
    grid-area: collectionsAbout;
    padding: 0px 100px 0px 90px;
}
.collectionsAbout p{
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 13px;
}
.imageAbout img {
    width: 500px;
    height: 600px;
}

.gridAboutImageOne{
    display: grid;
    grid-template-areas: 
    "imageStone"
    "sustainability";
    row-gap: 15px;
}
.imageStone{
    grid-area: imageStone;
    display: flex;
    justify-content: center;
    
}
.sustainability{
    grid-area: sustainability;
    display: flex;
    justify-content: center;
}
.gridAboutImageTwo{
    display: grid;
    grid-template-areas: 
    "imageRing"
    "localProduct";
    row-gap: 15px;
}
.imageRing{
    grid-area: imageRing;
    display: flex;
    justify-content: center;
    
}
.localProduct{
    grid-area: localProduct;
    display: flex;
    justify-content: center;
}

.gridAboutMain{
    display: grid;
    grid-template-areas: 
    "gridAboutImageOne gridAboutImageTwo";
    grid-template-columns: 1fr 1fr;
    padding-bottom: 100px;
}
.gridAboutImageOne{
    grid-area: gridAboutImageOne;
}
.gridAboutImageTwo{
    grid-area: gridAboutImageTwo;
}

.imageStone img {
    width: 460px;
    height: 600px;
    image-rendering: pixelated;
}
.imageRing img {
    width: 460px;
    height: 600px;
    image-rendering: pixelated;
}
.backAbout{
    background-color: #fff5fa;
}
.focus{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.focus p{
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
}
.sustainability p{
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
}
.localProduct p{
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
}
.cardsAbout{
    display: grid;
    grid-template-areas: 
    "cardMainOne cardMainTwo cardMainThree";
    grid-template-columns: 1fr 1fr 1fr;
}
.cardMainOne{
    grid-area: cardMainOne;
}
.cardMainTwo{
    grid-area: cardMainTwo;
}
.cardMainThree{
    grid-area: cardMainThree;
}
.cardMainOne{
    display: grid;
    grid-template-areas: 
    "imagee"
    "namemain"
    "pricemain";
}
.cardMainTwo{
    display: grid;
    grid-template-areas: 
    "imagee"
    "namemainTwo"
    "pricemainTwo";
}
.cardMainThree{
    display: grid;
    grid-template-areas: 
    "imagee"
    "namemainThree"
    "pricemainThree";
}
.imagee{
    grid-area: imagee;
    display: flex;
    justify-content: center;
}
.namemain{
    grid-area: namemain;
}
.pricemain{
    grid-area: pricemain;
}
.namemainTwo{
    grid-area: namemainTwo;
}
.pricemainTwo{
    grid-area: pricemainTwo;
}
.namemainThree{
    grid-area: namemainThree;
    display: flex;
    justify-content: center;
}
.pricemainThree{
    grid-area: pricemainThree;
    display: flex;
    justify-content: center;
}
.buyNowAbout{
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}
.BackAbout{
    background-color: #f4e9ef;
}
@media screen and (max-width: 1052px) {
    .cardsAbout{
        display: grid;
        grid-template-areas: 
        "cardMainOne"
        "cardMainTwo"
        "cardMainThree ";
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .cardMainTwo{
        padding-left: 0px;
    }
    .cardMainOne{
        display: grid;
        grid-template-areas: 
        "imagee"
        "namemain"
        "pricemain";
    }
    .cardMainTwo{
        display: grid;
        grid-template-areas: 
        "imagee"
        "namemainTwo"
        "pricemainTwo";
    }
    .cardMainThree{
        display: grid;
        grid-template-areas: 
        "imagee"
        "namemainThree"
        "pricemainThree";
    }
    .gridAbout{
        padding-top: 75px;
        padding-bottom: 50px;
    }
    .imageAbout img{
        width: 250px;
        height: 300px;
    }
}
@media screen and (max-width: 1000px) {
    .gridAbout{
        display: grid;
        grid-template-areas: 
        "nature"
        "friends"
        "collectionsAbout"
        "imageAbout";
        grid-template-columns: 1fr;
    }
    .nature{
        display: flex;
        align-items: center;
    }
    .friends{
        display: flex;
        text-align: center;
        padding: 20px 20px 20px 20px;
    }
    .collectionsAbout{
        display: flex;
        text-align: center;
        padding: 20px 20px 20px 20px;
    }
    .gridAboutImage{
        display: grid;
        grid-template-areas: 
        "focus"
        "gridAboutMain";
    }
    .imageStone img {
        width: 300px;
        height: 400px;
        image-rendering: pixelated;
    }
    .imageRing img {
        width: 300px;
        height: 400px;
        image-rendering: pixelated;
    }
    .centerAboutMain{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 640px) {
    .imageStone img {
        width: 200px;
        height: 250px;
        image-rendering: pixelated;
    }
    .imageRing img {
        width: 200px;
        height: 250px;
        image-rendering: pixelated;
    }
}
@media screen and (max-width: 500px) {
    .gridAboutMain{
        display: grid;
        grid-template-areas: 
        "gridAboutImageOne"
        "gridAboutImageTwo";
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
}
