*{
    padding: 0;
    margin: 0;
    font-family: teimer-web;
}
.navbar{
    background-color: #fff5fa;
    display: grid;
    grid-template-areas: 
    "a name b"
    "logo c shopping"
    "d nav e";
    padding: 20px 50px;
}

.contact_me{
    grid-area: logo;
    display: flex;
    padding-left: 20px;
    padding-top: 5px;
}

.tittle{
    grid-area: name;
    display: flex;
    justify-content: center;
    
}

.links{
    grid-area: nav;
}

.shopping{
    grid-area: shopping;
    display: flex;
    justify-content: end;
    padding-left: 70px;
    padding-right: 7px;
    padding-top: 5px;
    cursor: pointer;
    position: relative;
}

.decoration{
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 5px;
}
.decoration li{
    list-style: none;
}

.decoration li a{
    text-decoration: none;
    padding: 5px;
    color: #000;
    font: teimer-web;
    font-weight: 300;
}

.tittle a{
    text-decoration: none;
    color: #000;
    font-size: 30px;
    font: teimer-web;
    font-weight: 400;
}

.space{
    padding-right: 20px;
}

.space a{
    text-decoration: none;
    color: #000;
}

.space_2 a{
    text-decoration: none;
    color: #000;
}

.top_right{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
}
.card{
    width: 250px;
    height: 250px;
    padding: 20px;
    display: grid;
    grid-template-areas: 
    "image"
    "counter";
}

.image{
    grid-area: image;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 250px;
    height: 250px;
}
.counter{
    grid-area: counter;
}

.counter{
    display: grid;
    grid-template-areas: 
    "decrement counter increase"
    "reset reset reset";
}

.decrement{
    grid-area: decrement;
    margin: 2px;
}
.counter{
    grid-area: counter;
}
.increase{
    grid-area: increase;
    margin: 2px;
}
.reset{
    grid-area: reset;
    margin: 2px;
}

.flex{
    display: flex;
    justify-content: space-around;
}

.counter_{
    display: flex;
    justify-content: center;
}

.space_{
    padding: 2px;
}